html {
	background-color:rgb(51, 122, 183);
}

.container {
	background-color: white;
	border-radius: 15px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	box-shadow: 0px 0px 50px black;
}

footer {
	margin-top: 25px;
	border-top: thin solid rgb(51, 122, 183);
}

.panel-default > .panel-heading {
	background-color: rgb(51, 122, 183);
	color:white;
}

.panel-default {
	border: solid rgb(51, 122, 183) 1px;
}

.text-muted {
	color:white;
}